{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/home.css' %}" />
    <link rel="icon" href="../../../static/img/icon.png">
    <title>{% block title %} {% endblock %}</title>
  </head>
  <body>
    
  <div class="home">
    <div class="waviy" style="padding-left: 27px;">
      <i class="fa-solid fa-cart-shopping" style="color: white;"></i>
      <span style="--i:1">S</span>
      <span style="--i:2">H</span>
      <span style="--i:3">O</span>
      <span style="--i:4">P</span>
      <span style="--i:5">Management</span>
      <span style="--i:6">System</span>
     </div>
     {% if user.is_authenticated %}
        <div class="dash">
            <a href="\" style="color: white; text-decoration: none; font-size: medium; padding-left: 20px;">DashBoard</a>
        </div>
     {% endif %}
  </div>
    
    {% if messages %}
    <div class="alert alert-dismissible" role="alert">
      {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">{{ message }}</div>
      {% endfor %}
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endif %} {% block content %}{% endblock %}

    
    <script src="https://kit.fontawesome.com/e28a70a6d2.js" crossorigin="anonymous"></script>
  </body>
</html>
