{% extends "users/base.html" %}
{% block title %} Home Page {% endblock title%}
{% block content %}

<div class="hudai2">
    <div class="brands">
        <ul>
            <li>
                <a href="https://www.levi.com/US/en_US/" target="_blank">
                    <img src="../../../media/png 01.png" alt="">
                </a>
            </li>
            <li>
                <a href="https://www.adidas.com/us" target="_blank">
                    <img src="../../../media/png02.png" alt="">
                </a>
            </li>
            <li>
                <a href="https://global.lacoste.com/en/homepage" target="_blank">
                    <img src="../../../media/png03.png" alt="">
                </a>
            </li>
            <li>
                <a href="https://www.zara.com/uk/" target="_blank">
                    <img src="../../../media/png04.png" alt="">
                </a>
            </li>
            <li>
                <a href="https://www.nike.com/" target="_blank">
                    <img src="../../../media/png05.png" alt="">
                </a>
            </li>
            <li>
                <a href="https://www.calvinklein.us/en" target="_blank">
                    <img src="../../../media/png06.png" alt="">
                </a>
            </li>
            <li>
                <a href="https://us.puma.com/us/en" target="_blank">
                    <img src="../../../media/png07.png" alt="">
                </a>
            </li>
            <li>
                <a href="https://www.reebok.com/" target="_blank">
                    <img src="../../../media/png08.png" alt="">
                </a>
            </li>
            <li>
                <a href="https://www.chanel.com/us/" target="_blank">
                    <img src="../../../media/png15.png" alt="">
                </a>
            </li>
            <li>
                <a href="https://int.burberry.com/" target="_blank">
                    <img src="../../../media/png14.png" alt="">
                </a>
            </li>
            <li>
                <a href="https://www.omegawatches.com/" target="_blank">
                    <img src="../../../media/png11.png" alt="">
                </a>
            </li>
            <li>
                <a href="https://www2.hm.com/en_us/index.html" target="_blank">
                    <img src="../../../media/png12.png" alt="">
                </a>
            </li>
        </ul>
    </div>
</div>

{% endblock content %}