{% extends "users/base.html" %}
{% block content %}
    <div class="form-content p-3 change">
        <div class="change2">
            <div class="container">
                <div class="row justify-content-center pt-5" style="margin-top: 50px;">
                    <div class="col-lg-4">
                            <div class="">
                                <div class="card-body">
                                    <h4 style="color: white; padding-left: 22px;padding-bottom: 20px;">Change Your Password</h4>
                                    <form method="POST">
                                        {% csrf_token %}
                                        <div class="form-row">
                                            <div class="col-md-10 offset-md-1">
                                                <div class="form-group">
                                                    <label class="medium text-light" for="id_old_password">Old Password</label>
                                                    <input type="password" name="old_password" autocomplete="new-password"
                                                           class="form-control" required id="id_old_password"
                                                           placeholder="Enter Old Password"/>
                                                    <span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-md-10 offset-md-1">
                                                <div class="form-group">
                                                    <label class="medium text-light" for="id_new_password1">New Password</label>
                                                    <input type="password" name="new_password1" autocomplete="new-password"
                                                           class="form-control" required id="id_new_password1"
                                                           placeholder="Enter New Password"/>
                                                    <span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-md-10 offset-md-1">
                                                <div class="form-group">
                                                    <label class="medium text-light" for="id_new_password2">New Password Confirmation</label>
                                                    <input type="password" name="new_password2" autocomplete="new-password"
                                                           required id="id_new_password2" class="form-control"
                                                           placeholder="Confirm New Password"/>
                                                </div>
                                            </div>
                                        </div>
                                        {% if form.errors %}
                                        <div>
                                            <h5 style="color: red; margin-left: 70px;">Something Wrong</h5>
                                        </div>
                                        {% endif %}
                                        <div class="form-row">
                                            <div class="col-md-10 offset-md-1">
                                                <div class="form-group mt-0 mb-1">
                                                    <button type="submit" class="col-md-12 btn btn-dark" id="reset">Update Password</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                    
                            </div>
                    </div>
                </div>
                <div class="changeText">
                    <h4>Use a mix of alphabetical and numeric, a mixture of upper and lowercase, and special characters when creating your unique passphrase. Use unique passwords or passphrases: You should have a unique password for each of your accounts. 
                        This way, if one of your accounts is compromised, your other accounts remain secure.</h4>
                </div>
            </div>
            
        </div>
    </div>
{% endblock content %}