{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/dash.css' %}">
    <script src="https://kit.fontawesome.com/e28a70a6d2.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <nav>
            <ul>
                <li><a href="" class="logo">
                    <img src="lgc.png" alt="">
                    <span class="nav-item">DashBoard</span>
                </a></li>
                <li><a href="lolo.html">
                <i class="fas fa-home"></i>
                <span class="nav-item">Home</span>
                </a></li>
                <li><a href="lolo.html">
                    <i class="fas fa-user"></i>
                <span class="nav-item">Profile</span>
                </a></li>
                <li><a href="lolo.html">
                    <i class="fas fa-product-hunt"></i>
                <span class="nav-item">Products</span>
                </a></li>
                <li><a href="lolo.html">
                    <i class="fas fa-info"></i>
                <span class="nav-item">Vendor's Info</span>
                </a></li>
                <li><a href="lolo.html">
                    <i class="fas fa-network-wired"></i>
                <span class="nav-item">Brands</span>
                </a></li>
                <li><a href="lolo.html">
                    <i class="fas fa-question-circle"></i>
                <span class="nav-item">Help</span>
                </a></li>
                <li><a href="lolo.html" class="lg">
                    <i class="fas fa-sign-out-alt"></i>
                <span class="nav-item">Logout</span>
                </a></li>
                
            </ul>
        </nav>
        <section class="main">
            <div class="top">
                <h1>SUMMERY</h1>
            </div>
            <div class="product">
                <div class="card">
                    <h1>69</h1>
                    <h3>Total Products</h3>
                    <button>Details</button>
                </div>
                <div class="card">
                    <h1>5</h1>
                    <h3>Total Users</h3>
                    <button>Details</button>
                </div>
                <div class="card">
                    <h1>2500 $</h1>
                    <h3>Sell Amount</h3>
                    <button>Details</button>
                </div>
                <div class="card">
                    <h1>40</h1>
                    <h3>Total Orders</h3>
                    <button>Details</button>
                </div>
            </div>
        </section>
        
    </div>
    

</body>
</html>