{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/help.css' %}" />
</head>
<body>
    <div class="home">
        <i class="fa-solid fa-cart-shopping" style="margin-top: 10px;"></i>
        <a href="/" style="color: black;">SHOP MANGEMENT SYSTEM</a>
    </div>
    <div class="hudai">
        <div class="container">
            <h1>Frequently asked questions?</h1>
            <div class="tab">
                <input type="radio" name="acc" id="acc1">
                <label for="acc1">
                    <h2>1</h2>
                    <h3>How can I create an account here?</h3>
                    </label>
                    <div class="content"><p>Go to our login page and tap on (Registration here)
                         then give all the information about<br> you and tap (sign up)button.
                         Wait for the confirmation mail and you are all set to go. </p></div>
                
            </div>
            <div class="tab">
                <input type="radio" name="acc" id="acc2">
                <label for="acc2">
                    <h2>2</h2>
                    <h3>Lost or forgot your password?</h3>
                </label>
                    <div class="content"><p>Go to the login interface and select forgot password
                        the the will ask for your email or <br>phone number ,give all the asked info
                        wait for a confirmation sms the reset your new<br> password.
                    </p></div>
                
            </div>
            <div class="tab">
                <input type="radio" name="acc" id="acc3">
                <label for="acc3">
                    <h2>3</h2>
                    <h3>How can I update my product info?</h3>
                </label>
                    <div class="content"><p>Log in to your dashboard and select product inf on the navigation bar
                        then enter data<br> about your product and tap on update button.
                    </p></div>
                
            </div>
            <div class="tab">
                <input type="radio" name="acc" id="acc4">
                <label for="acc4">
                    <h2>4</h2>
                    <h3>How to update my profile?</h3>
                    </label>
                    <div class="content"><p>Log into your dashboard and select Pofile from the 
                        navigation bar now change your info<br> as you needed the click on update my profile.
                    </p></div>
                
            </div>
        </div>
    </div>
    <script src="https://kit.fontawesome.com/e28a70a6d2.js" crossorigin="anonymous"></script>
</body>
</html>