{% extends "users/base.html" %}
{% block title %} Home Page {% endblock title%}
{% block content %}

<div class="product2">

    <div>
        <table class="tab-2">
            <thead>
                <tr>
                    <th>Serial no</th>
                    <th>Product Name</th>
                    <th>Brand Name</th>
                    <th>Price</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                {% for i in item_list %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{i.name}}</td>
                    <td>{{i.brandname}}</td>
                    <td>{{i.price}}</td>
                    <td>{{i.describe}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>

{% endblock content %}